*, *:before, *:after {
    box-sizing: inherit;
}

html {scroll-behavior: smooth}

body {
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
}