table {
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid color('grey', light);
    text-align: left;
    font-weight: normal;
}

th, td {
    box-sizing: initial;
    padding: 8px 16px;
}