// Shadows
.cb-u-shadow--{
    &sm {box-shadow: 0 3px 3px rgba(0,0,0,.1);}
    &md {box-shadow: 0 4px 4px rgba(0,0,0,.16);}
    &lg {box-shadow: 0 6px 6px rgba(0,0,0,.1);}
    &xl {box-shadow: 0 6px 14px rgba(0,0,0,.24);}
}