$text-scale:(96, 48, 38.4, 25.6, 20, 16, 12.8);

.cb-u-text--0 {
    font-size: fz(1);
}

.cb-u-text--1, h1 {
    font-weight: normal;
    font-size: fz(2);
}

.cb-u-text--2, h2 {
    font-weight: normal;
    font-size: fz(3);
}

.cb-u-text--3, h3 {
    font-weight: normal;
    font-size: fz(4);
}

.cb-u-text--4, h4 {
    font-weight: normal;
    font-size: fz(5);
}

.cb-u-text--5, h5 {
    font-weight: normal;
    font-size: fz(6);
}

.cb-u-text--6, h6 {
    font-weight: normal;
    font-size: fz(7);
}